.active{
  color: red;
}

.inactive{
  color: gray;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  display: flex;
  gap: 20px;
  align-items: center;
}

.base{
  font-size: 40px;
}